{
"semi": true,
"singleQuote": true,
"trailingComma": "all",
"endOfLine": "auto",
"tabWidth": 2,
"printWidth": 80,
"jsxSingleQuote": true,
"jsxBracketSameLine": true,
"arrowParens": "always",
"bracketSpacing": true
}