.container {
  width: 100%;
  margin: 10px 0;
  gap: 10px !important;
}

.sessionTitleText {
  font-size: x-large;
  cursor: default;
}

.titleText {
  font-size: large;
  cursor: default;
}

.scramMasterContainer {
  gap: 0 !important;
}

.scramMasterContainer .scramMasterText {
  font-family: 'Nunito';
  color: rgba(0, 0, 0, 0.65) !important;
  cursor: default;
}

.exitButtonContainer {
  width: 450px;
  display: flex;
  justify-content: flex-end;
}

.exitButton {
  margin: 10px 0;
}

.list {
  max-width: 990px;
}

.listItem {
  display: flex !important;
  justify-content: center;
}
