.mainheader {
  position: relative;
}

.blue {
  background-color: #2b3a67;
  width: 100%;
  height: 50px;
}

.green {
  background-color: #66999b;
  width: 100%;
  height: 20px;
}

.logo {
  position: absolute;
  left: 55px;
  top: 18px;
}
