.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.mainpage {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ppimage {
  margin-top: 120px;
}

.sessioncontainer {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-right: 541px;
}

.connecttocontainer {
  margin-right: 193px;
}

.connectto {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 241px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.connectinput {
  height: 32px;
  outline: none;
  margin-left: 100px;
}
