.container {
  width: 300px;
  height: 70px;
  margin: 10px 0;
  padding: 0 10px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.textName {
  font-size: large;
}

.textPriority {
  font-size: x-small;
  font-family: 'Nunito';
}

.editButton svg {
  font-size: 22px;
}

.deleteButton svg {
  font-size: 22px;
  fill: rgb(223, 0, 0);
}
