@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: black;
  font-family: 'Roboto';
  background-color: lightgray;
}

a {
  text-decoration: none;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px 30px;
  margin-top: 50px;
}
